<div class="layout-row">
  <ul class="sidebar" data-test-id="year-list">
    <span class="section-title">Select Year</span>
    <li *ngFor="let year of years;" class="sidebar-item"
        [ngClass]="{'active': selectedYear === year}" (click)="onSelectYear(year)">
      <a>{{year}}</a>
    </li>
  </ul>

  <section class="content">
    <section>
      <h3 data-test-id="total-matches"></h3>
      <ul class="mr-20 matches styled slide-up-fade-in" data-test-id="match-list" *ngIf="matches.length > 0 && isSuccess">
<li *ngFor="let match of matches">
  Match {{match.name}} won by {{match.winner}}
</li>
      </ul>
    </section>
    <p data-test-id="no-result" class="slide-up-fade-in" *ngIf="matches.length === 0 && isSuccess" data-test-id="no-result">No Matches Found</p>
  </section>
</div>
